@model IEnumerable<BookWarehouse.Web.Models.TitleModel>

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearPublished)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearPublished)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TitleId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TitleId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TitleId })
        </td>
    </tr>
}

</table>
